<?xml version="1.0" encoding="utf-8"?>
<Configuration>
    <Properties>
        <!-- 文件输出格式 -->
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %5pid --- [%15.15t] %c %L: %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE" />
        </Root>
        <Logger name="org.quartz" level="WARN">
            <AppenderRef ref="CONSOLE" />
        </Logger>

        <Logger name="com.app.mapper.mapper" level="DEBUG"></Logger>
    </Loggers>


</Configuration>