<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <properties>
        <!-- 文件输出格式 -->
        <property name="CHARSET">UTF-8</property>
        <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %5pid --- [%15.15t] %-40.40c{1.} %L: %m%n</property>
    </properties>

    <appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" />
        </Console>
    </appenders>

    <loggers>
        <logger name="com.roncoo.education" level="DEBUG" />
        <root level="INFO">
            <appenderref ref="CONSOLE" />
        </root>
    </loggers>

</configuration>